body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

body {
  margin: 0; /* Remove default margins */
  padding: 16px; /* Add space inside the border */
  border: 2px solid #ccc; /* Light gray border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  max-width: 1200px; /* Optional: Limit content width */
  background-color: #f9f9f9; /* Optional: Light background color */
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.tour-date {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-date-info {
  max-width: 70%;
}

.tour-date h3 {
  margin: 0;
}

.tour-date p {
  margin: 5px 0;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 15px;
}
.buttons button {
  padding: 10px 15px;
  cursor: not-allowed;
  opacity: 0.5;
}
.loaderror {
  text-align: center;
}

.merch-listings {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Space between items */
}

.merch-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.merch-image {
  /* cursor: pointer; */
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.newsletter,
.newstitle,
.newsdate,
.faqentry {
  margin-left: 15%;
  margin-right: 15%;
}

.home-photos-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.home-photos {
  text-align: center;
}

.home-image {
  width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.header-logo {
  width: 30%; /* Scales the image to 25% of its natural width */
  height: auto; /* Maintains the aspect ratio */
  display: block; /* Ensures it's treated as a block element for layout */
  margin: 0 auto; /* Centers the logo horizontally, if needed */
}
